[Unit]
Description=Run backend

[Service]
User=jarservice
Environment="REPORT_PATH=/var/www-data/htdocs/"
Environment="LOG_PATH=/logs/"
StandardOutput=append:/logs/out.log
Restart=always
ExecStart=/usr/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='9000' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store.jar'
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target